@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

body {
  font-family: 'Crimson Text', serif;
}
h1{font-family: 'Crimson Text', serif;
}
h2{font-family: 'Crimson Text', serif;}


.distill-site-nav {
    color: rgb(0 0 0 / 80%);
    background-color: #6da444;
    font-size: 18px;
    font-weight: 300;
    padding: 14px;
}

.algolia-autocomplete {
    display: none;
}



a {
  text-decoration: none;
  color: inherit; 
}

.distill-site-nav a {
    color: black;
}

a:hover{
  text-decoration: none;
}

.distill-site-nav a:hover {
  color: #a9d687;
  background-color: #6da444;
}

.distill-site-header .logo img {
    max-height: 35px;
}

.distill-site-header a, .distill-site-header .title {
    display: inline;
}



.distill-site-header .title {
    display: none;
}



